@page "/"
@inject ICapacitacionService _capacitacionService

<PageTitle>Inicio</PageTitle>

<h1>Ágora — Plataforma de Gestión de Capacitaciones</h1>

<h4>Ágora es un proyecto educativo desarrollado junto a estudiantes de 2.º año de Programación. Su objetivo es brindar 
    una plataforma integral para gestionar capacitaciones de una institución educativa: desde la publicación y la inscripción 
    (online/presencial), hasta la acreditación, cobros y emisión de certificados.</h4>

    @if(capacitacionesAbiertas is null)
    {
        <p><em>Cargando capacitaciones abiertas...</em></p>
    }
    else if(!capacitacionesAbiertas.Any())
    {
        <p>No hay capacitaciones abiertas en este momento. Por favor, vuelva más tarde.</p>
    }
    else
    {
        <h3>Capacitaciones Abiertas</h3>
   
            @foreach (var capacitacion in capacitacionesAbiertas)
            {
                <CardCapacitacion Capacitacion="capacitacion"/>
            }
    }


@code {
    private List<Capacitacion>? capacitacionesAbiertas;

    protected override async Task OnInitializedAsync()
    {
        capacitacionesAbiertas = await _capacitacionService.GetCapacitacionesAbiertasAsync();
    }
}